@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

h4 {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #aaa;
    margin-left: 20px;
}

i {
    font-size: 1.5rem;
    color: #fff;
}

p, a {
    font-size: 0.9rem;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 12px 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background: #717171;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.logo-img {
    position: relative;
    height: 40px;
    width: 40px;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logo-txt {
    letter-spacing: -1.5px;
    color: #fff;
    margin-left: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container span {
    color: #fff;
    margin-right: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    flex: 0 1 685px;
    margin-left: 40px;
}

.search-container form {
    display: flex;
    width: 100%;
}

.search-container input {
    height: 40px;
    width: 100%;
    background-color: #181818;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 12px;
    color: #fff;
    font-size: 1rem;
}

.search {
    min-width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    border: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.search span {
    color: #fff;
}

.mic {
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
}

.mic span {
    color: #fff;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-container span {
    color: #fff;
    margin-left: 25px;
}

.profile-container i {
    margin-left: 25px;
}

.profile-box {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 25px;
}

.body-container {
    display: flex;
    position: fixed;
    height: calc(100vh - 60px);
    top: 60px;
}

.sidebar {
    background-color: #181818;
    padding-top: 10px;
    width: 80px;
    overflow-y: scroll;
    color: #fff;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
}

.sidebar-items h6.subscriptions {
    margin: 0 auto;
}


h6 {
    margin-left: 20px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
    height: 40px;
}

.sidebar-item:hover {
    background-color: #4c4c4c;
}

.sidebar-item i {
    margin-right: 24px;
}

.sidebar-item span {
    margin-right: 24px;
}

.content {
    width: calc(100vw - 80px);
}

.chips-wrapper {
    overflow-x: scroll;
    background-color: #181818;
    display: flex;
    padding-left: 14px;
    border-top: 1px solid #181818;
    border-bottom: 1px solid #181818;
}

.chips-wrapper::-webkit-scrollbar {
    height: 10px;
}

.chip {
    margin: 12px 6px;
    background-color: #373737;
    padding: 6px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

.chip:hover {
    background-color: #4d4d4d;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    padding: 20px 25px;
    background-color: #181818;
    overflow-y: scroll;
    height: calc(100vh - 116px);
}

.video-content-cover {
    position: relative;
    transition: 0.5s;
}

.video-content {
    margin-bottom: 25px;
    position: relative;
    transition: 0.5s;
    width: 100%;
    height: auto;
}

.video-box {
    position: relative;
    width: 100%;
    height: 240px;
    display: block;
}

.channel-logo {
    position: relative;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.video-details {
    display: flex;
    color: #fff;
    padding-top: 12px;
}

.detail {
    margin-left: 12px;
}

.title {
    font-size: 0.9rem;
}

.channel-name {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #aaa;
}

.views-upload {
    display: flex;
    font-size: 0.8rem;
    color: #aaa;
}

.upload {
    margin-left: 5px;
}
